on:
  push:
    branches: [main]

jobs:
  build-and-test:
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/build-and-test.yml
    secrets: inherit

  publish-npm-package:
    needs: build-and-test
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/publish-npm-package.yml
    secrets: inherit
