on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build-and-test:
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/build-and-test.yml
